<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RealEstate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <display-name>FileUploadDBServlet</display-name>
  <servlet-name>FileUploadDBServlet</servlet-name>
  <servlet-class>com.mit.realstate.impl.AddProperty</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FileUploadDBServlet</servlet-name>
  <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AgentUpload</display-name>
    <servlet-name>AgentUpload</servlet-name>
  	 <servlet-class>com.mit.realstate.impl.AddAgent</servlet-class>	
  </servlet>
  <servlet-mapping>
  <servlet-name>AgentUpload</servlet-name>
  <url-pattern>/agent</url-pattern>
  </servlet-mapping>
</web-app>